<!-- Primer filtro -->
<div class="container mt-3">
  <h2>Áreas y Perímetros</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputOperacion">Operación</label>
      <select id="inputOperacion" class="form-control" name="operacion" [(ngModel)]="operacion" (change)="Onchange()">
        <option selected>Elegir operación...</option>
        <option value="area">Área</option>
        <option value="perimetro">Perímetro</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputFigura">Figuras</label>
      <select id="inputFigura" class="form-control" name="figura" [(ngModel)]="figura" (change)="Onchange()">
        <option selected>Elegir figura...</option>
        <option value="cuadrado">Cuadrado</option>
        <option value="rectangulo">Rectángulo</option>
        <option value="rombo">Rombo</option>
        <option value="trapecio_escaleno">Trapecio escaleno</option>
        <option value="trapecio_isosceles">Trapecio isósceles</option>
        <option value="triangulo_equilatero">Triángulo equilatero</option>
        <option value="triangulo_escaleno">Triángulo escaleno</option>
        <option value="triangulo_isosceles">Triángulo isósceles</option>
        <option value="triangulo_rectangulo">Triángulo rectángulo</option>
      </select>
    </div>
  </div>
</div>
<!-- Segundo filtro -->
<div class="container mt-2">
  <h3 *ngIf="flag">{{nombreFigura()}}</h3>
  <div class="row">
    <div class="col" *ngIf="flag">
      <p style="font-weight: bold;">Formula</p>
      <ng-container *ngIf="operacion === 'perimetro'; else elseOperaciones">
        {{perimetros()}}
      </ng-container>
      <ng-template #elseOperaciones>
        {{areas()}}
      </ng-template>
    </div>
    <div class="col" *ngIf="flag">
      <p style="font-weight: bold;">Valores</p>
      <div class="form-group">
        <input type="number" class="form-control" [placeholder]="valor1()" [(ngModel)]="valor_1">
      </div>
      <div class="form-group" *ngIf="figura === 'rectangulo' || figura === 'rombo' || figura === 'trapecio_escaleno' || figura === 'trapecio_isosceles' || figura === 'triangulo_equilatero' || figura === 'triangulo_escaleno' || figura === 'triangulo_isosceles' || figura === 'triangulo_rectangulo'">
        <input type="number" class="form-control" [placeholder]="valor2()" [(ngModel)]="valor_2">
      </div>
      <div class="form-group" *ngIf="figura === 'rombo' || figura === 'trapecio_escaleno' || figura === 'trapecio_isosceles' || figura === 'triangulo_escaleno' || figura === 'triangulo_isosceles' || figura === 'triangulo_rectangulo'">
        <input type="number" class="form-control" [placeholder]="valor3()" [(ngModel)]="valor_3">
      </div>
      <div class="form-group" *ngIf="figura === 'trapecio_escaleno' || figura === 'trapecio_isosceles' || figura === 'triangulo_escaleno' || figura === 'triangulo_rectangulo'">
        <input type="number" class="form-control" [placeholder]="valor4()" [(ngModel)]="valor_4">
      </div>
      <div class="form-group" *ngIf="figura === 'trapecio_escaleno'">
        <input type="number" class="form-control" placeholder="h" [(ngModel)]="valor_5">
      </div>
      <button type="button" class="btn btn-outline-success" (click)="btnGuardar()">Guardar</button>
    </div>
    <div class="col">
      <p style="font-weight: bold;" *ngIf="flag">Figura</p>
      <canvas #canvasEl width="160" height="160">Tu navegador no soporta</canvas>
    </div>
  </div>
</div>
<!-- Mostrar resultados -->
<div class="container mt-2">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Figura</th>
        <th scope="col">Operación</th>
        <th scope="col">Formula</th>
        <th scope="col">Valores</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista_arreglo; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.figura}}</td>
        <td>{{item.operacion}}</td>
        <td>{{item.formula}}</td>
        <td>
          <div *ngFor="let valores of item.valores">
            {{valores.name}}: {{valores.valor}} <br>
          </div>
        </td>
        <td>{{item.resultado}}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>